<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <%= render 'layouts/shim' %>
  </head>
  
  <body>
    <%= render 'layouts/header' %>
  <div class="container fluid">

  <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>
    
  <div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <p>Created at: <%= @user.created_at %></p>
      <p>Updated at: <%= @user.updated_at %></p
    </section>
    <p>Current time: <%= Time.now %></p>
  </aside>
</div>
  </div>
  
<div class="container">
  <%= render 'layouts/footer' %>
</div>
</body>
</html>
  